.page-home {
    top: 0;
    left: 0;
    background: #1b011a;
    overflow: hidden;
}
.wrapper {
    top: 0;
    left: 0;
}
.logo {
    width: 21.6%;
    top: 0.18rem;
    right: 0.76rem;
}
.box-all {
    top: 1.36rem;
    left: 0;
}
.text {
    margin-top: 1.8rem;
}
.btn-start {
    display: inline-block;
    margin-top: 0.8rem;
    width: 27.8%;
}
