.page-loading {
    top: 0;
    left: 0;
    background: #1b011a;
    overflow: hidden;
}
.wrapper {
    top: 0;
    left: 0;
}
.logo {
    width: 21.6%;
    top: 0.18rem;
    right: 0.76rem;
}
.box-all {
    top: 1.36rem;
    left: 0;
}
.bar-wrapper {
    margin-top: 5.6rem;
}
.bg-bar {
    display: inline-block;
    width: 86.4%;
    height: 0.04rem;
    background: -webkit-linear-gradient(left, #da2aff 0%, #231815 100%); /* chrome */
    background: -o-linear-gradient(right, #da2aff 0%, #231815 100%); /* opera */
    background: -moz-linear-gradient(right, #da2aff 0%, #231815 100%); /* firefox */
　　background: -ms-linear-gradient(right, #da2aff 0%, #231815 100%); /* ie */
　　background: linear-gradient(to right, #da2aff 0%, #231815 100%); /* firefox */
    -webkit-box-shadow: 0 0 6px #971794;
    -o-box-shadow: 0 0 6px #971794;
    -moz-box-shadow: 0 0 6px #971794;
    -ms-box-shadow: 0 0 6px #971794;
}
.bar {
    width: 0%;
    height: 0.12rem;
    bottom: -0.06rem;
    background: -webkit-linear-gradient(left, #da2aff 0%, #231815 100%); /* chrome */
    background: -o-linear-gradient(right, #da2aff 0%, #231815 100%); /* opera */
    background: -moz-linear-gradient(right, #da2aff 0%, #231815 100%); /* firefox */
　　background: -ms-linear-gradient(right, #da2aff 0%, #231815 100%); /* ie */
　　background: linear-gradient(to right, #da2aff 0%, #231815 100%); /* firefox */
    -webkit-box-shadow: 0 0 6px #971794;
    -o-box-shadow: 0 0 6px #971794;
    -moz-box-shadow: 0 0 6px #971794;
    -ms-box-shadow: 0 0 6px #971794;
    background-size: 100% auto;
}
.box-num {
    width: 14.2%;
    bottom: -2%;
    left: 0%;
}
.box-num p {
    width: 100%;
    top: -0.08rem;
    color: #fff;
    font-size: 0.42rem;
}
