* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -ms-touch-action: none;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* font-size: 62.5%!important; */
	-webkit-text-size-adjust: none;
  	-moz-text-size-adjust: none;
  	-ms-text-size-adjust: none;
  	-o-text-size-adjust: none;
  	text-size-adjust: none;
  	word-spacing: 0;
  	letter-spacing: 0;
  	background: #1b011a;
}
a {
	text-decoration: none;
}
/* position */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.cen {
	margin-left: auto;
	margin-right: auto;
}
.center {
	text-align: center;
}
/* width/height */
.full-w {
	width: 100%;
}
.full-h {
	height: 100%;
}
/* */
.nomargin {
	margin: 0;
}
.nopadding {
	padding: 0;
}
.fontsize0 {
	font-size: 0;
}
.lineheight0 {
	line-height: 0;
}
#app {
    height: 100%;
}
