.page-page0 {
    top: 0;
    left: 0;
    background: #190d0a;
    overflow: hidden;
}
.wrapper, .border {
    top: 0;
    left: 0;
}
.satellite {
    width: 80.4%;
    top: 2.44rem;
    right: -1.18rem;
}
.logo {
    width: 23.4%;
    top: 0.2rem;
    right: 0.4rem;
}
.box-all {
    top: 1.36rem;
    left: 0;
}
.video-wrapper {
    display: inline-block;
    width: 95.4%;
    height: 5.52rem;
    background: #000;
}
.tip {
    bottom: -10%;
    left: -5%;
    color: #fff;
    font-size: 0.32rem;
    transform: scale(0.6);
    background: bule;
}
.text {
    margin-top: 1rem;
    color: #fff;
    line-height: 0.56rem;
}
.text p {
    color: #f8cffe;
    font-size: 0.37rem;
}
.text b {
    color: #fff;
}
.hide {
    visibility: hidden;
}
.btn-rush {
    margin-top: 0.54rem;
    display: inline-block;
    width: 30%;
}
