.page-page4 {
    top: 0;
    left: 0;
    background: #190d0a;
    overflow: hidden;
}
.wrapper, .border {
    top: 0;
    left: 0;
}
.satellite {
    width: 56.2%;
    top: 5.58rem;
    right: 0;
}
.logo {
    width: 23.4%;
    top: 0.2rem;
    right: 0.4rem;
}
.box-all {
    top: 1.36rem;
    left: 0;
}
.video-wrapper {
    display: inline-block;
    width: 95.4%;
    height: 5.52rem;
    background: #000;
}
.tip {
    bottom: -10%;
    left: -5%;
    color: #fff;
    font-size: 0.32rem;
    transform: scale(0.6);
    background: bule;
}
.text {
    margin-top: 1.2rem;
    margin-left: -10%;
    width: 120%;
}
.btns {
    margin-top: 2rem;
}
.btn-back, .btn-next {
    width: 30%;
}
.btn-next {
    margin-left: 1rem;
}
