.page-prize {
    top: 0;
    left: 0;
    background: #1b011a;
    overflow: hidden;
}
.wrapper, .border, .modal {
    top: 0;
    left: 0;
}
.logo {
    width: 23.4%;
    top: 0.2rem;
    right: 0.4rem;
}
.box-all {
    top: 2.7rem;
    left: 0;
}
.text {
    margin-top: 0;
}
.btns {
    margin-top: 1.1rem;
    width: 80.8%;
}
.btns .full-w {
    opacity: 0.5;
}
.btn {
    width: 30.8%;
}
.btn1, .btn2, .btn3 {
    top: 0.26rem;
}
.btn4, .btn5, .btn6 {
    top: 1.34rem;
}
.btn7, .btn-next, .btn8 {
    top: 2.44rem;
}
.btn1, .btn4, .btn7 {
    left: 0.24rem;
}
.btn2, .btn5, .btn8 {
    left: 2.72rem;
}
.btn3, .btn-next, .btn6 {
    left: 5.2rem;
}
.modal, .lock {
    display: none;
}
