.page-result {
    top: 0;
    left: 0;
    background: #190d0a;
    overflow: hidden;
}
.wrapper, .border {
    top: 0;
    left: 0;
}
.satellite {
    width: 68.2%;
    top: 0.8rem;
    right: 0.18rem;
}
.logo {
    width: 23.4%;
    top: 0.2rem;
    right: 0.4rem;
}
.box-all {
    top: 2.74rem;
    left: 0;
}
.avatar {
    width: 3.48rem;
    height: 3.48rem;
    top: 0.78rem;
    left: 3.22rem;
    border-radius: 50%;
    overflow: hidden;
}
.text {
    margin-top: 0.72rem;
}
.btns {
    margin-top: 1.36rem;
}
.btn-back, .btn-home {
    width: 30%;
}
.btn-home {
    margin-left: 1rem;
}
