<style lang="css" scoped src="../assets/css/home.css"></style>

<template>
	<div class="abs full-w full-h page-home">
		<div class="abs full-w full-h wrapper">
			<!-- bg -->
	        <img class="full-w bg" src="../assets/img/common/bg.jpg" />
	        <!-- logo -->
	        <img class="abs logo" src="../assets/img/home/logo.png" />
	        <div class="abs box-all fontsize0 center">
		        <!-- banner -->
		        <img class="full-w banner" src="../assets/img/home/banner.png" />
		        <!-- text -->
		        <img class="full-w text" src="../assets/img/home/text.png" />
		        <!-- start -->
		        <img class="btn-start" @click="start" src="../assets/img/home/btn-start.png" />
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/home.js"></script>