<style lang="css" scoped src="../assets/css/loading.css"></style>

<template>
	<div class="abs full-w full-h page-loading">
		<div class="abs full-w full-h wrapper">
			<!-- bg -->
	        <img class="full-w bg" src="../assets/img/common/bg.jpg" />
	        <!-- logo -->
	        <img class="abs logo" src="../assets/img/home/logo.png" />
	        <div class="abs box-all fontsize0 center">
		        <!-- banner -->
		        <img class="full-w banner" src="../assets/img/loading/banner.png" />
		        <!-- loading -->
		        <div class="bar-wrapper">
		        	<div class="rel bg-bar">
		        		<div class="abs bar"></div>
		        	</div>
					<div class="abs box-num">
	        			<img class="full-w" src="../assets/img/loading/num.png" />
	        			<p class="abs"><span class="num">0</span>%</p>
	        		</div>
		        </div>
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/loading.js"></script>