<style lang="css" scoped src="../assets/css/page0.css"></style>

<template>
	<div class="abs full-w full-h page-page0">
		<div class="abs full-w full-h wrapper">
			<!-- bg -->
	        <img class="full-w bg" src="../assets/img/pages/bg-page.jpg" />
	        <!-- satellite -->
	        <img class="abs satellite" src="../assets/img/pages/satellite1.png" />
	        <!-- border -->
	        <img class="abs full-w border" src="../assets/img/common/border.png" />
	        <!-- logo -->
	        <img class="abs logo" src="../assets/img/common/logo.png" />
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- video -->
	        	<div class="rel video-wrapper">
	        		<video id="mv-page0" class="full-w full-h" preload="true" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5-page" x5-video-player-fullscreen="false" src="../assets/media/page0.mp4" poster="../assets/img/pages/page0.jpg" controls></video>
	        		<div class="abs tip">* 建议在wifi下观看</div>
	        	</div>
		        <!-- text -->
		        <div class="text">
		        	<p class="text1 hide">欢迎乘坐<b>阿斯利康星球</b>专列</p>
		        	<p class="text2 hide">你将踏上<b>夺取高奖金秘籍</b>的星球之旅</p>
		        	<p class="text3 hide">连续跨越<b>四大神秘空间站</b></p>
		        	<p class="text4 hide">无论你是大神还是小白</p>
		        	<p class="text5 hide">都能找对赚钱新姿势</p>
		        </div>
		        <!-- rush -->
		        <img class="btn-rush" @click="rush" src="../assets/img/pages/btn-rush.png" />
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/page0.js"></script>