<style lang="css" scoped src="../assets/css/page5.css"></style>

<template>
	<div class="abs full-w full-h page-page5">
		<div class="abs full-w full-h wrapper">
			<!-- bg -->
	        <img class="full-w bg" src="../assets/img/pages/bg-page.jpg" />
	        <!-- satellite -->
	        <img class="abs satellite" src="../assets/img/pages/satellite5.png" />
	        <!-- border -->
	        <img class="abs full-w border" src="../assets/img/common/border.png" />
	        <!-- logo -->
	        <img class="abs logo" src="../assets/img/common/logo.png" />
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- video -->
	        	<div class="rel video-wrapper">
	        		<video id="mv-page5" class="full-w full-h" preload="true" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5-page" x5-video-player-fullscreen="false" src="../assets/media/page5.mp4" poster="../assets/img/pages/page5.jpg" controls></video>
	        		<div class="abs tip">* 建议在wifi下观看</div>
	        	</div>
		        <!-- text -->
		        <div class="text">
		        	<img class="full-w" src="../assets/img/pages/text5.png" />
		        </div>
		        <!-- btns -->
		        <div class="btns">
			        <!-- back -->
			        <img class="btn-back" @click="back" src="../assets/img/pages/btn-back.png" />
			        <!-- next -->
			        <img class="btn-next" @click="next" src="../assets/img/pages/btn-next.png" />
			    </div>
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/page5.js"></script>