<style lang="css" scoped src="../assets/css/prize.css"></style>

<template>
	<div class="abs full-w full-h page-prize">
		<div class="abs full-w full-h wrapper">
			<!-- bg -->
	        <img class="full-w bg" src="../assets/img/prize/bg.jpg" />
	        <!-- border -->
	        <img class="abs full-w border" src="../assets/img/common/border.png" />
	        <!-- logo -->
	        <img class="abs logo" src="../assets/img/common/logo.png" />
	        <div class="abs box-all fontsize0 center">
		        <!-- text -->
		        <div class="text">
			        <img class="full-w" src="../assets/img/prize/text.png" />
			    </div>
		        <!-- btns -->
		        <div class="rel cen btns">
		        	<img class="full-w" src="../assets/img/prize/bg-btns.png" />
			        <img class="abs btn btn1" data-index="1" @click="modal" src="../assets/img/prize/btn1.png" />
			        <img class="abs btn btn2" data-index="2" @click="modal" src="../assets/img/prize/btn2.png" />
			        <img class="abs btn btn3" data-index="3" @click="modal" src="../assets/img/prize/btn3.png" />
			        <img class="abs btn btn4" data-index="4" @click="modal" src="../assets/img/prize/btn4.png" />
			        <img class="abs btn btn5" data-index="5" @click="modal" src="../assets/img/prize/btn5.png" />
			        <img class="abs btn btn6" data-index="6" @click="modal" src="../assets/img/prize/btn6.png" />
			        <img class="abs btn btn7" data-index="7" @click="modal" src="../assets/img/prize/btn7.png" />
			        <img class="abs btn btn8" data-index="8" @click="modal" src="../assets/img/prize/btn8.png" />
			        <img class="abs btn btn-next" @click="next" src="../assets/img/prize/btn-next.png" />
			    </div>
		    </div>
		    <!-- modal -->
		    <div class="abs full-w modal fontsize0" @click="close">
		    	<img class="full-w modal1 lock" src="../assets/img/prize/modal1.png" />
		    	<img class="full-w modal2 lock" src="../assets/img/prize/modal2.png" />
		    	<img class="full-w modal3 lock" src="../assets/img/prize/modal3.png" />
		    	<img class="full-w modal4 lock" src="../assets/img/prize/modal4.png" />
		    	<img class="full-w modal5 lock" src="../assets/img/prize/modal5.png" />
		    	<img class="full-w modal6 lock" src="../assets/img/prize/modal6.png" />
		    	<img class="full-w modal7 lock" src="../assets/img/prize/modal7.png" />
		    	<img class="full-w modal8 lock" src="../assets/img/prize/modal8.png" />
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/prize.js"></script>