<style lang="css" scoped src="../assets/css/result.css"></style>

<template>
	<div class="abs full-w full-h page-result">
		<div class="abs full-w full-h wrapper">
			<!-- bg -->
	        <img class="full-w bg" src="../assets/img/pages/bg-page.jpg" />
	        <!-- satellite -->
	        <img class="abs satellite" src="../assets/img/pages/satellite1.png" />
	        <!-- border -->
	        <img class="abs full-w border" src="../assets/img/common/border.png" />
	        <!-- logo -->
	        <img class="abs logo" src="../assets/img/common/logo.png" />
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- avatar -->
	        	<div class="rel avatar-wrapper">
	        		<img class="full-w" src="../assets/img/result/avatar.png" />
	        		<div class="abs avatar">
	        			<img class="full-w" src="../assets/img/share.jpg" />
	        		</div>
	        	</div>
		        <!-- text -->
		        <div class="text">
		        	<img class="full-w" src="../assets/img/result/text.png" />
		        </div>
		        <!-- btns -->
		        <div class="btns">
			        <!-- back -->
			        <img class="btn-back" @click="back" src="../assets/img/result/btn-back.png" />
			        <!-- home -->
			        <img class="btn-home" @click="home" src="../assets/img/result/btn-home.png" />
			    </div>
		    </div>
		</div>
	</div>
</template>

<script src="../assets/js/result.js"></script>