<style lang="css" src="./assets/css/main.css"></style>

<template>
    <div id="app" class="rel">
        <music></music>
        <router-view/>
    </div>
</template>

<script>
    import Music from './components/common/music.vue'; // music
	import { wxshare } from '@/libs/wxapi';
    export default {
        name: 'App',
        components: {
            'music': Music
        },
        mounted() {
        	// wxshare();
            // 微信不分享
            function onBridgeReady() { 
                WeixinJSBridge.call('hideOptionMenu'); 
            };
            if (typeof WeixinJSBridge == "undefined") { 
                if (document.addEventListener) { 
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false); 
                } else if (document.attachEvent) { 
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady); 
                } 
            } else { 
                onBridgeReady(); 
            };
        },
        methods: {
            //
        }
    }
</script>
